<center>
  <form method="POST">    
      <label>Insert Quantity of Bread (RM 2 each): </label>
      <input type="number" name="bread" min="0" max="99" value="0">
      <br />
      <label>Insert Quantity of Cake (RM 3 each): </label>
      <input type="number" name="cake" min="0" max="99" value="0">
      <br />
      <label>Insert Quantity of Coffee (RM 2 each): </label>
      <input type="number" name="coffee" min="0" max="99" value="0">
      <br />
      <label>Insert Quantity of Tea (RM 1 each): </label>
      <input type="number" name="tea" min="0" max="99" value="0">
      <br />
      <input type="submit">
      <br />
      <label>{{ href2 }} </label>
  </form>
</center>
